.menu-bar .text {
    -fx-fill: aliceblue;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.menu-item {
    -fx-background-color: grey;
}

.menu-item:hover {
    -fx-background-color: #605c5c;
}

.menu-item .text {
    -fx-fill: aliceblue;
    -fx-font-size: 13px;
}

#deleteBtn {
    -fx-background-color: radial-gradient(center 25% 0%, radius 40%, #fefcea, #d66060);
    -fx-border-color: black;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
}

#deleteBtn:pressed {
    -fx-background-color: radial-gradient(center 25% 0%, radius 40%, #fefcea, #c1c1c1);
}

.button {
    -fx-background-color: radial-gradient(center 30% 0%, radius 45%, #fefcea, #f1da36);
    -fx-border-color: black;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
}

.table-view {
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: black;
    -fx-background-color: grey;
}

.menu:openvertically {
    -fx-border-color: #7a7a7a;
}

.button:pressed {
    -fx-background-color: radial-gradient(center 25% 0%, radius 40%, #fefcea, #c1c1c1);
}